/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%; } }

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Jost', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none; }

button {
  border: none;
  cursor: pointer; }

textarea {
  resize: none; }

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 2.3rem 0; } }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__content {
        padding: 0 2rem; } }
  .header__logo-container {
    width: 12rem; }
  .header__logo {
    width: 100%; }
  .header__links {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .header__links {
        display: none; } }
  .header__link {
    padding: 2.5rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600; }

.hero {
  color: #fff;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative; }
  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 95%; }
  .hero__heading-primary {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 3px;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .hero__heading-primary {
        font-size: 4.5rem; } }
  .hero__text-primary {
    color: #eee;
    font-size: 2rem;
    text-align: center;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .hero__text-primary {
        font-size: 1.8rem; } }
  .hero__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem; }
  .hero__cta {
    margin-top: 5rem;
    text-align: center; }
  .hero__btn {
    background: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.5rem 8rem;
    display: inline-block;
    font-size: 2rem;
    border-radius: 0px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
    font-family: 'Overpass', sans-serif; }

.heading-sec {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 3px;
  text-align: center; }
  .heading-sec--lt {
    color: #fff; }

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 95%; }

.work {
  padding: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .work {
      padding: 8rem 0; } }
  .work__content {
    margin-top: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .work__content {
        margin-top: 5rem; } }
  .work__full {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .work__full {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        width: 95%;
        margin: 0 auto 6rem auto; } }
    .work__full--inverse {
      grid-template-columns: 1fr 1.2fr; }
      @media only screen and (max-width: 56.25em) {
        .work__full--inverse {
          display: none; } }
    .work__full-img-cont {
      overflow: hidden; }
      .work__full-img-cont--inverse {
        order: 2; }
    .work__full-img {
      width: 110%;
      transform: translateX(-10%);
      display: block;
      object-fit: cover; }
      @media only screen and (max-width: 56.25em) {
        .work__full-img {
          transform: translate(0);
          width: 100%; } }
      .work__full-img--inverse {
        transform: translateX(0); }
    .work__full-content {
      padding: 3rem 5%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      @media only screen and (max-width: 56.25em) {
        .work__full-content {
          padding: 0 5%; } }
      .work__full-content--inverse {
        text-align: right; }
      .work__full-content-title {
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: 2.8rem;
        text-transform: uppercase;
        margin-bottom: 2rem; }
      .work__full-content-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem; }
        .work__full-content-desc--inverse {
          margin-left: auto; }
  .work__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .work__row {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-bottom: 0; } }
    @media only screen and (max-width: 56.25em) {
      .work__row:nth-child(2) {
        display: none; } }
    .work__row:last-child {
      margin-bottom: 0; }
    .work__row-img-cont {
      overflow: hidden; }
      .work__row-img-cont--inverse {
        order: -1; }
    .work__row-img {
      width: 100%;
      display: block;
      object-fit: cover; }
    .work__row-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      @media only screen and (max-width: 56.25em) {
        .work__row-content {
          padding: 0 5%; } }
      .work__row-content-title {
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: 2.8rem;
        text-transform: uppercase;
        margin-bottom: 2rem; }
      .work__row-content-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem; }

.contact {
  padding: 8rem 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  background-size: cover;
  background-position: center; }
  .contact__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 5rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    margin: 5rem auto 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .contact__form-container {
        padding: 3rem 2rem; } }
  .contact__form-field {
    margin-bottom: 3rem; }
  .contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 1px;
    background: #f0f0f0;
    /* Code for Modern Browsers */
    /* Code for WebKit, Blink, Edge */
    /* Code for Internet Explorer 10-11 */
    /* Code for Microsoft Edge */
    /* Code for Mozilla Firefox 4 to 18 */
    /* Code for Mozilla Firefox 19+ */ }
    .contact__form-input::placeholder {
      color: #777;
      font-size: 1.6rem; }
    .contact__form-input::-webkit-input-placeholder {
      color: #777;
      font-size: 1.6rem; }
    .contact__form-input:-ms-input-placeholder {
      color: #777;
      font-size: 1.6rem; }
    .contact__form-input::-ms-input-placeholder {
      color: #777;
      font-size: 1.6rem; }
    .contact__form-input:-moz-placeholder {
      opacity: 1;
      color: #777;
      font-size: 1.6rem; }
    .contact__form-input::-moz-placeholder {
      opacity: 1;
      color: #777;
      font-size: 1.6rem; }
  .contact__btn {
    width: 30%;
    border: none;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
    border-radius: 0px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    font-family: 'Overpass', sans-serif; }
    @media only screen and (max-width: 37.5em) {
      .contact__btn {
        width: 100%; } }

.main-footer {
  background: #000;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .main-footer {
      padding: 0 2rem; } }
  .main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__upper {
        padding: 5rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .main-footer__upper {
        display: block; } }
  .main-footer__support-item {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; }
    .main-footer__support-item:last-child {
      margin-bottom: 0; }
    .main-footer__support-item-icon-cont {
      width: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 4px; }
    .main-footer__support-item-icon {
      width: 100%; }
    .main-footer__support-item-name {
      font-size: 1.4rem; }
  .main-footer__nav {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .main-footer__nav {
        display: block;
        margin-top: 6rem; } }
  .main-footer__nav-item {
    margin-left: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .main-footer__nav-item {
        margin: 0;
        margin-bottom: 6rem; } }
    .main-footer__nav-item-title {
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 3rem;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .main-footer__nav-item-title {
          text-align: left; } }
    .main-footer__nav-item-link {
      margin-bottom: 1.5rem; }
      .main-footer__nav-item-link a {
        font-size: 1.4rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        display: block; }
        @media only screen and (max-width: 37.5em) {
          .main-footer__nav-item-link a {
            text-align: left; } }
      .main-footer__nav-item-link:last-child {
        margin-bottom: 0; }
  .main-footer__icon {
    margin-right: 0.5rem;
    width: 2.5rem; }
  .main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__lower {
        padding: 2rem 0; } }
