.heading-primary {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  @include respond(phone) {
    font-size: 4.5rem;
  }
}

.heading-sec {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 3px;
  text-align: center;

  &--lt {
    color: #fff;
  }
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 95%;
}

.btn {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.5rem 8rem;
  display: inline-block;
  font-size: 2rem;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  @include secondaryFont;
}
