.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    @include respond(tab-port) {
      padding: 0 2rem;
    }
  }

  &__logo-container {
    width: 12rem;
  }
  &__logo {
    width: 100%;
  }
  &__links {
    display: flex;
    @include respond(phone) {
      display: none;
    }
  }
  &__link {
    padding: 2.5rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
  }

  &__main-ham-menu-cont {
    display: none;
    width: 3rem;

    padding: 2.5rem 0;

    @include respond(phone) {
      display: block;
    }
  }
  &__main-ham-menu {
    width: 100%;
  }

  &__sm-menu {
    background: #111;
    position: absolute;
    width: 100%;
    top: 100%;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    &--active {
      display: none;
      @include respond(phone) {
        display: block;
      }
    }
  }
  &__sm-menu-link {
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #eee;
    text-align: right;
    border-bottom: 1px solid #444;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:last-child {
      border: none;
    }
  }
  &__sm-menu-link-last {
    border-bottom: 0;
  }
}

.hero {
  color: #fff;
  background: linear-gradient(to right, rgba(#000, 0.6), rgba(#000, 0.6)),
    url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 95%;
  }

  &__heading-primary {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    @include respond(phone) {
      font-size: 4.5rem;
    }
  }

  &__text-primary {
    color: #eee;
    font-size: 2rem;
    text-align: center;
    width: 100%;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
  &__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
  }
  &__cta {
    margin-top: 5rem;
    text-align: center;
  }

  &__btn {
    background: #fff;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.5rem 8rem;
    display: inline-block;
    font-size: 2rem;
    border-radius: 0px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
    font-family: 'Overpass', sans-serif;
  }
}

.heading-sec {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 3px;
  text-align: center;

  &--lt {
    color: #fff;
  }
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 95%;
}

.work {
  padding: 10rem 0;
  @include respond(tab-port) {
    padding: 8rem 0;
  }
  &__content {
    margin-top: 8rem;
    @include respond(tab-port) {
      margin-top: 5rem;
    }
  }

  &__full {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 5rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      width: 95%;
      margin: 0 auto 6rem auto;
    }
    &--inverse {
      grid-template-columns: 1fr 1.2fr;
      @include respond(tab-port) {
        display: none;
      }
    }
    &-img-cont {
      overflow: hidden;
      &--inverse {
        order: 2;
      }
    }
    &-img {
      width: 110%;
      transform: translateX(-10%);
      display: block;
      object-fit: cover;
      @include respond(tab-port) {
        transform: translate(0);
        width: 100%;
      }
      &--inverse {
        transform: translateX(0);
      }
    }
    &-content {
      padding: 3rem 5%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include respond(tab-port) {
        padding: 0 5%;
      }
      &--inverse {
        text-align: right;
      }
      &-title {
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: 2.8rem;
        text-transform: uppercase;
        margin-bottom: 2rem;

        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        @include respond(phone) {
          font-size: 1.7rem;
        }
        &--inverse {
          margin-left: auto;
        }
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-bottom: 5rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 0;
    }

    &:nth-child(2) {
      @include respond(tab-port) {
        display: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img-cont {
      overflow: hidden;
      &--inverse {
        order: -1;
      }
    }
    &-img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
    &-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include respond(tab-port) {
        padding: 0 5%;
      }
      &-title {
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: 2.8rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
    }
  }
}

.contact {
  padding: 8rem 0;
  background: linear-gradient(to right, rgba(#000, 0.7), rgba(#000, 0.7)),
    url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
  background-size: cover;
  background-position: center;

  &__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(#fff, 2);
    padding: 5rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;

    margin: 5rem auto 0 auto;
    @include respond(phone) {
      padding: 3rem;
    }
  }
  &__form-field {
    margin-bottom: 3rem;
  }
  &__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    font-size: 1.6rem;
    letter-spacing: 1px;
    background: rgba(rgb(240, 240, 240), 1);

    /* Code for Modern Browsers */
    &::placeholder {
      color: #777;
      font-size: 1.6rem;
    }

    /* Code for WebKit, Blink, Edge */
    &::-webkit-input-placeholder {
      color: #777;
      font-size: 1.6rem;
    }

    /* Code for Internet Explorer 10-11 */
    &:-ms-input-placeholder {
      color: #777;
      font-size: 1.6rem;
    }

    /* Code for Microsoft Edge */
    &::-ms-input-placeholder {
      color: #777;
      font-size: 1.6rem;
    }

    /* Code for Mozilla Firefox 4 to 18 */
    &:-moz-placeholder {
      opacity: 1;
      color: #777;
      font-size: 1.6rem;
    }

    /* Code for Mozilla Firefox 19+ */
    &::-moz-placeholder {
      opacity: 1;
      color: #777;
      font-size: 1.6rem;
    }
  }
  &__btn {
    width: 30%;
    border: none;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2rem 4rem;
    display: inline-block;
    font-size: 1.6rem;
    border-radius: 0px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    font-family: 'Overpass', sans-serif;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.main-footer {
  background: #000;
  color: #fff;
  @include respond(phone) {
    padding: 0 2rem;
  }
  &__upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    @include respond(tab-port) {
      padding: 5rem 0;
    }
    @include respond(phone) {
      display: block;
    }
  }

  &__support-item {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
    &-icon-cont {
      width: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 4px;
    }
    &-icon {
      width: 100%;
    }
    &-name {
      font-size: 1.5rem;
    }
  }

  &__nav {
    display: flex;
    @include respond(phone) {
      display: block;
      margin-top: 6rem;
    }
  }

  &__nav-item {
    margin-left: 5rem;
    @include respond(phone) {
      margin: 0;
      margin-bottom: 6rem;
    }
    &-title {
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 3rem;
      text-align: center;
      @include respond(phone) {
        text-align: left;
      }
    }
    &-link {
      margin-bottom: 1.5rem;
      a {
        font-size: 1.4rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        @include respond(phone) {
          text-align: left;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    margin-right: 0.5rem;
    width: 2.5rem;
  }

  &__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: center;
    @include respond(tab-port) {
      padding: 3rem 1rem;
    }
  }
}
